/style.css
body {
  background: #f5f5f5;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}
.btn {
  display: block;
  background: #0078ff;
  padding: 14px;
  margin: 20px auto;
  width: 220px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}
